swagger: '2.0'
info:
  title: Serviço de Agendas de Recebimento
  version: '0.1'
host: api.agendarentrega.com/agenda-recebimento/v2
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  "/agenda-cobrancas/{uuid}/baixar":
    post:
      operationId: BaixarAgendaCobranca
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiBaixarAgendaCobrancaResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiBaixarAgendaCobrancaRequest"
      tags:
        - AgendaCobrancaService
  "/agenda-cobrancas/{uuid}/estornar":
    post:
      operationId: EstornarAgendaCobranca
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiEstornarAgendaCobrancaResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiEstornarAgendaCobrancaRequest"
      tags:
        - AgendaCobrancaService
  "/agendas/-/documentos":
    post:
      operationId: UploadDocumento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiAgendaDocumento"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: string
            format: byte
      tags:
        - AgendaService
  "/agendas/-/documentos/{documento_uuid}:createDownloadLink":
    get:
      operationId: CreateDownloadLinkDocumento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCreateDownloadLinkDocumentoResponse"
      parameters:
        - name: documento_uuid
          in: path
          required: true
          type: string
      tags:
        - AgendaService
  "/agendas/-/pedidos:batchGetPedidosAgendas":
    get:
      operationId: BatchGetPedidosAgendas
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiBatchGetPedidosAgendasResponse"
      parameters:
        - name: uuids
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      tags:
        - AgendaService
  "/agendas/{agendaUUID}/confirmar-janela":
    post:
      operationId: ConfirmarAgendaJanela
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiAgenda"
      parameters:
        - name: agendaUUID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiConfirmarAgendaJanelaRequest"
      tags:
        - AgendaService
  "/agendas/{agendaUUID}/status-descarga":
    post:
      operationId: UpdateStatusDescargaAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateStatusDescargaAgendaResponse"
      parameters:
        - name: agendaUUID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateStatusDescargaAgendaRequest"
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}/anotacoes":
    get:
      operationId: GetAnotacoesAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetAnotacoesAgendaResponse"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
      tags:
        - AgendaService
    post:
      operationId: CadastroAnotacaoAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiAgendaAnotacao"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCadastroAnotacaoAgendaRequest"
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}/documentos":
    get:
      operationId: GetDocumentosAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetDocumentosAgendaResponse"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}/eventos":
    get:
      operationId: GetEventosAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetEventosAgendaResponse"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}/nfes":
    post:
      operationId: AdicionarNotasAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiAdicionarNotasAgendaResponse"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiAdicionarNotasAgendaRequest"
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}/nfes/{chave}:updateStatusRecebimentoNota":
    post:
      operationId: UpdateStatusRecebimentoNota
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateStatusRecebimentoNotaResponse"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
        - name: chave
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateStatusRecebimentoNotaRequest"
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}/notas":
    get:
      operationId: GetNotasAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetNotasAgendaResponse"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}/pedidos":
    get:
      operationId: GetPedidosAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetPedidosAgendaResponse"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}/pedidos/{pedido_uuid}/itens":
    post:
      operationId: AtualizarQuantidadeEntregaItensPedido
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiAtualizarQuantidadeEntregaItensPedidoResponse"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
        - name: pedido_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiAtualizarQuantidadeEntregaItensPedidoRequest"
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}/reagendar":
    post:
      operationId: ReagendarEntrega
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiAgenda"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiSolicitarAgendaRequest"
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}/status-recebimento":
    get:
      operationId: GetStatusRecebimentoAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetStatusRecebimentoAgendaResponse"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}:confirmarRecebimento":
    post:
      operationId: ConfirmarRecebimento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiConfirmarRecebimentoAgendaResponse"
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiConfirmarRecebimentoAgendaRequest"
      tags:
        - AgendaService
  "/agendas/{agenda_uuid}:updateStatusRecebimento":
    post:
      operationId: UpdateStatusRecebimento
      responses:
        '200':
          description: A successful response.
          schema:
            properties: {}
      parameters:
        - name: agenda_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateStatusRecebimentoAgendaRequest"
      tags:
        - AgendaService
  "/agendas/{uuid}":
    get:
      operationId: GetAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetAgendaResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: expand
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      tags:
        - AgendaService
  "/agendas/{uuid}/cancelar":
    post:
      operationId: CancelarAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            properties: {}
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCancelarAgendaRequest"
      tags:
        - AgendaService
  "/agendas/{uuid}/cobranca":
    get:
      operationId: GetAgendaCobrancaAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetAgendaCobrancaAgendaResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - AgendaCobrancaService
  "/agendas/{uuid}/confirmar":
    post:
      operationId: ConfirmarAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            properties: {}
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiConfirmarAgendaRequest"
      tags:
        - AgendaService
  "/agendas/{uuid}:reagendarRecebimento":
    post:
      operationId: ReagendarRecebimento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiAgenda"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiReagendarRecebimentoRequest"
      tags:
        - AgendaService
  "/agendas/{uuid}:transferir":
    post:
      operationId: TransferirAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiAgenda"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiTransferirAgendaRequest"
      tags:
        - AgendaService
  "/agendas:batchGetAgendas":
    get:
      operationId: BatchGetAgendas
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiBatchGetAgendasResponse"
      parameters:
        - name: uuids
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: expand
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      tags:
        - AgendaService
  "/agendas:cadastrar":
    post:
      operationId: CadastrarAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiAgenda"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCadastrarAgendaRequest"
      tags:
        - AgendaService
  "/bloqueios-fornecedores/{uuid}":
    delete:
      operationId: DeleteBloqueio
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiDeleteBloqueioFornecedorResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - FornecedorService
  "/calendario/{data_uuid}":
    get:
      operationId: GetData
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetDataResponse"
      parameters:
        - name: data_uuid
          in: path
          required: true
          type: string
      tags:
        - CalendarioService
    delete:
      operationId: DeleteData
      responses:
        '200':
          description: A successful response.
          schema:
            properties: {}
      parameters:
        - name: data_uuid
          in: path
          required: true
          type: string
      tags:
        - CalendarioService
    post:
      operationId: UpdateData
      responses:
        '200':
          description: A successful response.
          schema:
            properties: {}
      parameters:
        - name: data_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateDataRequest"
      tags:
        - CalendarioService
  "/destinatarios":
    get:
      operationId: Listar
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListarDestinatarioResponse"
      tags:
        - DestinatarioService
  "/docas/{uuid}":
    delete:
      operationId: Delete
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiDeleteDocaResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - DocaService
    post:
      operationId: Update
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiDoca"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/recebimentoapiDoca"
      tags:
        - DocaService
  "/docas/{uuid}/set-status":
    post:
      operationId: UpdateStatus
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiDoca"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/recebimentoapiDoca"
      tags:
        - DocaService
  "/documentos-aceite/{documento_aceite_uuid}":
    get:
      operationId: GetDocumentoAceite
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetDocumentoAceiteResponse"
      parameters:
        - name: documento_aceite_uuid
          in: path
          required: true
          type: string
      tags:
        - DocumentoAceiteService
    delete:
      operationId: DeleteDocumentoAceite
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiDeleteDocumentoAceiteResponse"
      parameters:
        - name: documento_aceite_uuid
          in: path
          required: true
          type: string
      tags:
        - DocumentoAceiteService
    post:
      operationId: UpdateDocumentoAceite
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateDocumentoAceiteResponse"
      parameters:
        - name: documento_aceite_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateDocumentoAceiteRequest"
      tags:
        - DocumentoAceiteService
  "/documentos-aceite/{documento_aceite_uuid}/leituras":
    get:
      operationId: ReadingsByDocumentoAceite
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiReadingsByDocumentoAceiteResponse"
      parameters:
        - name: documento_aceite_uuid
          in: path
          required: true
          type: string
      tags:
        - DocumentoAceiteService
  "/documentos-aceite/{documento_aceite_uuid}:read":
    get:
      operationId: ReadDocumentoAceite
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiReadDocumentoAceiteResponse"
      parameters:
        - name: documento_aceite_uuid
          in: path
          required: true
          type: string
      tags:
        - DocumentoAceiteService
  "/entidades/-/webhooks/{hook.uuid}":
    post:
      operationId: UpdateWebhook
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiWebhook"
      parameters:
        - name: hook.uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateWebhookRequest"
      tags:
        - WebhookService
  "/entidades/-/webhooks/{uuid}":
    get:
      operationId: GetWebhook
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiWebhook"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - WebhookService
    delete:
      operationId: DeleteWebhook
      responses:
        '200':
          description: A successful response.
          schema:
            properties: {}
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - WebhookService
  "/entidades/{entidadeUUID}/agendas/recepcao":
    get:
      operationId: ListAgendasRecepcaoEntidade
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListAgendasRecepcaoEntidadeResponse"
      parameters:
        - name: entidadeUUID
          in: path
          required: true
          type: string
        - name: include
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      tags:
        - AgendaService
  "/entidades/{entidadeUUID}/agendas/search":
    post:
      operationId: SearchAgendasEntidade
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiSearchAgendasEntidadeResponse"
      parameters:
        - name: entidadeUUID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiSearchAgendasEntidadeRequest"
      tags:
        - AgendaService
  "/entidades/{entidadeUUID}/fornecedores":
    get:
      operationId: GetFornecedoresEntidade
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetFornecedoresEntidadeResponse"
      parameters:
        - name: entidadeUUID
          in: path
          required: true
          type: string
      tags:
        - FornecedorService
  "/entidades/{entidadeUUID}/locais":
    get:
      operationId: GetLocaisByEntidade
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetLocaisByEntidadeResponse"
      parameters:
        - name: entidadeUUID
          in: path
          required: true
          type: string
      tags:
        - LocalService
  "/entidades/{entidadeUUID}/stats/historico-agendas":
    post:
      operationId: HistoricoAgendas
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiHistoricoAgendasResponse"
      parameters:
        - name: entidadeUUID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiStatsPeriodoRequest"
      tags:
        - StatsService
  "/entidades/{entidadeUUID}/stats/media-status-descarga":
    post:
      operationId: MediaStatusDescarga
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiMediaStatusDescargaResponse"
      parameters:
        - name: entidadeUUID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiStatsPeriodoRequest"
      tags:
        - StatsService
  "/entidades/{entidadeUUID}/stats/resumo-agendas":
    post:
      operationId: ResumoAgendas
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiResumoAgendasResponse"
      parameters:
        - name: entidadeUUID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiStatsPeriodoRequest"
      tags:
        - StatsService
  "/entidades/{entidade_uuid}/agendas:getLastEventos":
    get:
      operationId: GetLastEventosAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetLastEventosAgendaResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: last_nsu
          in: query
          required: false
          type: string
          format: int64
      tags:
        - AgendaService
  "/entidades/{entidade_uuid}/calendario":
    get:
      operationId: GetCalendarioEntidade
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetCalendarioEntidadeResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: ano
          in: query
          required: false
          type: integer
          format: int32
      tags:
        - CalendarioService
    post:
      operationId: CadastrarData
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCadastrarDataResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCadastrarDataRequest"
      tags:
        - CalendarioService
  "/entidades/{entidade_uuid}/calendario/periodo":
    get:
      operationId: GetCalendarioPeriodo
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetCalendarioPeriodoResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: inicio
          in: query
          required: false
          type: string
        - name: fim
          in: query
          required: false
          type: string
      tags:
        - CalendarioService
  "/entidades/{entidade_uuid}/documentos-aceite":
    get:
      operationId: ListDocumentoAceite
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListDocumentoAceiteResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
      tags:
        - DocumentoAceiteService
    post:
      operationId: CreateDocumentoAceite
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCreateDocumentoAceiteResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCreateDocumentoAceiteRequest"
      tags:
        - DocumentoAceiteService
  "/entidades/{entidade_uuid}/documentos-aceite:unread":
    get:
      operationId: GetDocumentoAceitePendente
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetDocumentoAceitePendenteResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
      tags:
        - DocumentoAceiteService
  "/entidades/{entidade_uuid}/fornecedores/{fornecedor_uuid}":
    get:
      operationId: Get
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiFornecedor"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: fornecedor_uuid
          in: path
          required: true
          type: string
      tags:
        - FornecedorService
  "/entidades/{entidade_uuid}/fornecedores/{fornecedor_uuid}/bloqueios":
    get:
      operationId: GetBloqueios
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetBloqueiosFornecedorResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: fornecedor_uuid
          in: path
          required: true
          type: string
      tags:
        - FornecedorService
    post:
      operationId: CreateBloqueio
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCreateBloqueioFornecedorResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: fornecedor_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiFornecedorBloqueio"
      tags:
        - FornecedorService
  "/entidades/{entidade_uuid}/fornecedores/{fornecedor_uuid}/usuarios":
    get:
      operationId: GetUsuarios
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetUsuariosFornecedorResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: fornecedor_uuid
          in: path
          required: true
          type: string
      tags:
        - FornecedorService
    post:
      operationId: InserirUsuario
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiInserirUsuarioFornecedorResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: fornecedor_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiFornecedorUsuario"
      tags:
        - FornecedorService
  "/entidades/{entidade_uuid}/fornecedores/{fornecedor_uuid}/usuarios/{usuario_uuid}":
    delete:
      operationId: RemoverUsuario
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiRemoverUsuarioFornecedorResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: fornecedor_uuid
          in: path
          required: true
          type: string
        - name: usuario_uuid
          in: path
          required: true
          type: string
      tags:
        - FornecedorService
    post:
      operationId: AtualizarUsuario
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiAtualizarUsuarioFornecedorResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: fornecedor_uuid
          in: path
          required: true
          type: string
        - name: usuario_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiFornecedorUsuario"
      tags:
        - FornecedorService
  "/entidades/{entidade_uuid}/relatorios/agendas-dia":
    post:
      operationId: RelatorioAgendasDia
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiRelatorioAgendasDiaResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiRelatorioAgendasDiaRequest"
      tags:
        - AgendaService
  "/entidades/{entidade_uuid}/relatorios/recebimento-notas":
    post:
      operationId: RelatorioRecebimentoNotas
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiRelatorioRecebimentoNotasResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiRelatorioRecebimentoNotasRequest"
      tags:
        - AgendaService
  "/entidades/{entidade_uuid}/relatorios/status-descarga":
    post:
      operationId: RelatorioStatusDescarga
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiRelatorioStatusDescargaResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiRelatorioStatusDescargaRequest"
      tags:
        - AgendaService
  "/entidades/{entidade_uuid}/status-recebimento":
    get:
      operationId: ListStatusRecebimento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListStatusRecebimentoResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
      tags:
        - StatusRecebimentoService
    post:
      operationId: CreateStatusRecebimento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCreateStatusRecebimentoResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCreateStatusRecebimentoRequest"
      tags:
        - StatusRecebimentoService
  "/entidades/{entidade_uuid}/status-recebimento:updateWorkFlow":
    post:
      operationId: UpdateStatusRecebimentoWorkFlow
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateStatusRecebimentoWorkFlowResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateStatusRecebimentoWorkFlowRequest"
      tags:
        - StatusRecebimentoService
  "/entidades/{entidade_uuid}/tipos-anotacao":
    get:
      operationId: ListTipoAnotacao
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListTipoAnotacaoResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
      tags:
        - TipoAnotacaoService
    post:
      operationId: CreateTipoAnotacao
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCreateTipoAnotacaoResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCreateTipoAnotacaoRequest"
      tags:
        - TipoAnotacaoService
  "/entidades/{entidade_uuid}/tipos-carga":
    get:
      operationId: List
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListTipoCargaResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
      tags:
        - TipoCargaService
    post:
      operationId: Create
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiTipoCarga"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiTipoCarga"
      tags:
        - TipoCargaService
  "/entidades/{entidade_uuid}/tipos-documento":
    get:
      operationId: ListTipoDocumento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListTipoDocumentoResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
      tags:
        - TipoDocumentoService
    post:
      operationId: CreateTipoDocumento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCreateTipoDocumentoResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCreateTipoDocumentoRequest"
      tags:
        - TipoDocumentoService
  "/entidades/{entidade_uuid}/tipos-volume":
    get:
      operationId: ListTiposVolumeEntidade
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListTiposVolumeEntidadeResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
      tags:
        - TipoVolumeService
    post:
      operationId: CreateTipoVolume
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiTipoVolume"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCreateTipoVolumeRequest"
      tags:
        - TipoVolumeService
  "/entidades/{entidade_uuid}/usuarios":
    post:
      operationId: ConvidarUsuario
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/authUsuario"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/ConvidarUsuarioFornecedorRequestConvite"
      tags:
        - FornecedorService
  "/entidades/{entidade_uuid}/webhooks":
    get:
      operationId: ListWebhooks
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListWebhooksResponse"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
      tags:
        - WebhookService
    post:
      operationId: CreateWebhook
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiWebhook"
      parameters:
        - name: entidade_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiWebhook"
      tags:
        - WebhookService
  "/locais/{destinatario.localUUID}/agendas":
    post:
      operationId: SolicitarAgenda
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiAgenda"
      parameters:
        - name: destinatario.localUUID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiSolicitarAgendaRequest"
      tags:
        - AgendaService
  "/locais/{localUUID}/agendas/search":
    post:
      operationId: ListAgendasLocal
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListAgendasLocalResponse"
      parameters:
        - name: localUUID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiListAgendasLocalRequest"
      tags:
        - AgendaService
  "/locais/{localUUID}/agendas/status/diario":
    get:
      operationId: StatusDiarioAgendasLocal
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiStatusDiarioAgendasLocalResponse"
      parameters:
        - name: localUUID
          in: path
          required: true
          type: string
        - name: dia
          in: query
          required: false
          type: string
      tags:
        - AgendaService
  "/locais/{localUUID}/fornecedores/{entidadeUUID}/config":
    get:
      operationId: GetConfigFornecedor
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiConfigFornecedor"
      parameters:
        - name: localUUID
          in: path
          required: true
          type: string
        - name: entidadeUUID
          in: path
          required: true
          type: string
      tags:
        - FornecedorService
    post:
      operationId: UpdateConfigFornecedor
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateConfigFornecedorResponse"
      parameters:
        - name: localUUID
          in: path
          required: true
          type: string
        - name: entidadeUUID
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiConfigFornecedor"
      tags:
        - FornecedorService
  "/locais/{localUUID}/fornecedores/{fornecedorUUID}/pedidos/{codigoPedido}/disponibilidade-agenda":
    get:
      operationId: ConsultarPedidoDestinatario
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiConsultarPedidoDestinatarioResponse"
      parameters:
        - name: localUUID
          in: path
          required: true
          type: string
        - name: fornecedorUUID
          in: path
          required: true
          type: string
        - name: codigoPedido
          in: path
          required: true
          type: string
      tags:
        - PedidoService
  "/locais/{local_uuid}/agendas:disponibilidade":
    post:
      operationId: Disponibilidade
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiDisponibilidadeAgendaResponse"
      parameters:
        - name: local_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiDisponibilidadeAgendaRequest"
      tags:
        - AgendaService
  "/locais/{local_uuid}/agendas:disponibilidade-calendario":
    post:
      operationId: DisponibilidadeCalendario
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiDisponibilidadeCalendarioAgendaResponse"
      parameters:
        - name: local_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiDisponibilidadeCalendarioAgendaRequest"
      tags:
        - AgendaService
  "/locais/{local_uuid}/docas":
    get:
      operationId: ListDocas
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListDocasResponse"
      parameters:
        - name: local_uuid
          description: UUID do Local de Recebimento.
          in: path
          required: true
          type: string
        - name: all
          description: Retornar ou não todas as docas (ativas e inativas).
          in: query
          required: false
          type: boolean
          format: boolean
      tags:
        - DocaService
    post:
      operationId: Create
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiDoca"
      parameters:
        - name: local_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/recebimentoapiDoca"
      tags:
        - DocaService
  "/locais/{local_uuid}/horarios-recebimento":
    get:
      operationId: ListHorariosRecebimento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListHorariosRecebimentoResponse"
      parameters:
        - name: local_uuid
          description: UUID do Local de Recebimento
          in: path
          required: true
          type: string
        - name: dia_semana
          description: Filtrar dia da semana específico.
          in: query
          required: false
          type: string
          enum:
            - DIA_SEMANA_INDEFINIDO
            - DOMINGO
            - SEGUNDA
            - TERCA
            - QUARTA
            - QUINTA
            - SEXTA
            - SABADO
          default: DIA_SEMANA_INDEFINIDO
      tags:
        - HorarioRecebimentoService
  "/locais/{local_uuid}/tipos-carga":
    get:
      operationId: GetTiposCarga
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetTiposCargaLocalResponse"
      parameters:
        - name: local_uuid
          in: path
          required: true
          type: string
        - name: all
          in: query
          required: false
          type: boolean
          format: boolean
      tags:
        - LocalService
  "/locais/{local_uuid}/tipos-carga/{tipo_carga_uuid}":
    post:
      operationId: UpdateTipoCarga
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateTipoCargaLocalResponse"
      parameters:
        - name: local_uuid
          in: path
          required: true
          type: string
        - name: tipo_carga_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiLocalTipoCarga"
      tags:
        - LocalService
  "/locais/{local_uuid}/volumes-recebimento":
    get:
      operationId: List
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListVolumeRecebimentoResponse"
      parameters:
        - name: local_uuid
          in: path
          required: true
          type: string
      tags:
        - VolumeRecebimentoService
    post:
      operationId: Create
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiVolumeRecebimento"
      parameters:
        - name: local_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiVolumeRecebimento"
      tags:
        - VolumeRecebimentoService
  "/locais/{local_uuid}/volumes-recebimento:consumo":
    post:
      operationId: Consumo
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiConsumoVolumeRecebimentoResponse"
      parameters:
        - name: local_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiConsumoVolumeRecebimentoRequest"
      tags:
        - VolumeRecebimentoService
  "/locais/{local_uuid}:calcularTempoEntrega":
    post:
      operationId: CalcularTempoEntrega
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCalcularTempoEntregaResponse"
      parameters:
        - name: local_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCalcularTempoEntregaRequest"
      tags:
        - AgendaService
  "/locais/{uuid}":
    get:
      operationId: GetLocal
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetLocalResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - LocalService
    post:
      operationId: UpdateLocal
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateLocalResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateLocalRequest"
      tags:
        - LocalService
  "/locais/{uuid}/cobranca-descarga":
    get:
      operationId: GetCobrancaDescargaLocal
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetCobrancaDescargaLocalResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - LocalService
    post:
      operationId: UpdateCobrancaDescargaLocal
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateCobrancaDescargaLocalResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateCobrancaDescargaLocalRequest"
      tags:
        - LocalService
  "/locais/{uuid}/cobranca-descarga/calcular":
    post:
      operationId: CalcularCobrancaDescarga
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCalcularCobrancaDescargaResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCalcularCobrancaDescargaRequest"
      tags:
        - LocalService
  "/locais/{uuid}/expediente":
    get:
      operationId: GetExpedienteLocal
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetExpedienteLocalResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - LocalService
    post:
      operationId: UpdateExpedienteLocal
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateExpedienteLocalResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateExpedienteLocalRequest"
      tags:
        - LocalService
  "/locais/{uuid}/horario-recebimento":
    get:
      operationId: GetHorarioRecebimentoLocal
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetHorarioRecebimentoLocalResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - LocalService
    post:
      operationId: UpdateHorarioRecebimentoLocal
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateHorarioRecebimentoLocalResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateHorarioRecebimentoLocalRequest"
      tags:
        - LocalService
  "/locais/{uuid}:verificarLeadTime":
    post:
      operationId: VerificarLeadTime
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiVerificarLeadTimeResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiVerificarLeadTimeRequest"
      tags:
        - LocalService
  "/locais:getByCNPJ":
    get:
      operationId: GetLocalByCNPJ
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiLocal"
      parameters:
        - name: cnpj
          in: query
          required: false
          type: string
      tags:
        - LocalService
  "/me/agendas":
    get:
      operationId: GetMinhasAgendas
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetMinhasAgendasResponse"
      tags:
        - AgendaService
  "/me/pedidos":
    post:
      operationId: ListarFromUsuario
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListarPedidosFromUsuarioResponse"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiListarPedidosFromUsuarioRequest"
      tags:
        - PedidoService
  "/nfes/{chave}":
    get:
      summary: Retorna informações referentes a uma nota fiscal
      operationId: GetNFE
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiGetNFEResponse"
      parameters:
        - name: chave
          description: Chave de acesso da nota fiscal
          in: path
          required: true
          type: string
      tags:
        - NFEService
  "/nfes/{chave}:checkValidacoes":
    post:
      operationId: CheckValidacoes
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCheckValidacoesResponse"
      parameters:
        - name: chave
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiCheckValidacoesRequest"
      tags:
        - NFEService
  "/nfes:checkPedidos":
    get:
      operationId: CheckPedidosNotas
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiCheckPedidosNotasResponse"
      tags:
        - AgendaService
  "/pedidos/{pedido_uuid}:reportSaldoAgendado":
    get:
      operationId: ReportSaldoAgendado
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiReportSaldoAgendadoPedidoResponse"
      parameters:
        - name: pedido_uuid
          in: path
          required: true
          type: string
      tags:
        - PedidoService
  "/pedidos/{uuid}":
    get:
      operationId: GetPedido
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/recebimentoapiPedido"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - PedidoService
  "/pedidos:batchReportSaldoAgendado":
    get:
      operationId: BatchReportSaldoAgendado
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiBatchReportSaldoAgendadoPedidoResponse"
      parameters:
        - name: pedidos_uuid
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
      tags:
        - PedidoService
  "/relatorios/agenda-cobranca/diario":
    post:
      operationId: RelatorioDiario
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiRelatorioDiarioResponse"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiRelatorioDiarioRequest"
      tags:
        - AgendaCobrancaService
  "/status-recebimento/{status_recebimento_uuid}":
    post:
      operationId: UpdateStatusRecebimento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateStatusRecebimentoResponse"
      parameters:
        - name: status_recebimento_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateStatusRecebimentoRequest"
      tags:
        - StatusRecebimentoService
  "/tags:listTagsResource":
    get:
      operationId: ListTagsResource
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiListTagsResourceResponse"
      parameters:
        - name: resource_type
          in: query
          required: false
          type: string
          enum:
            - ResourceType_UNKNOWN
            - ResourceType_TIPO_VEICULO
          default: ResourceType_UNKNOWN
        - name: resource_id
          in: query
          required: false
          type: string
      tags:
        - ResourceTagService
  "/tags:updateResource":
    post:
      operationId: UpdateTagsResource
      responses:
        '200':
          description: A successful response.
          schema:
            properties: {}
      parameters:
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateTagsResourceRequest"
      tags:
        - ResourceTagService
  "/tipos-anotacao/{tipo_anotacao_uuid}":
    get:
      operationId: GetTipoAnotacao
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetTipoAnotacaoResponse"
      parameters:
        - name: tipo_anotacao_uuid
          in: path
          required: true
          type: string
      tags:
        - TipoAnotacaoService
    delete:
      operationId: DeleteTipoAnotacao
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiDeleteTipoAnotacaoResponse"
      parameters:
        - name: tipo_anotacao_uuid
          in: path
          required: true
          type: string
      tags:
        - TipoAnotacaoService
    post:
      operationId: UpdateTipoAnotacao
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateTipoAnotacaoResponse"
      parameters:
        - name: tipo_anotacao_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateTipoAnotacaoRequest"
      tags:
        - TipoAnotacaoService
  "/tipos-carga/{uuid}":
    get:
      operationId: Get
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiTipoCarga"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - TipoCargaService
    post:
      operationId: Update
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiTipoCarga"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiTipoCarga"
      tags:
        - TipoCargaService
  "/tipos-documento/{tipo_documento_uuid}":
    get:
      operationId: GetTipoDocumento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetTipoDocumentoResponse"
      parameters:
        - name: tipo_documento_uuid
          in: path
          required: true
          type: string
      tags:
        - TipoDocumentoService
    delete:
      operationId: DeleteTipoDocumento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiDeleteTipoDocumentoResponse"
      parameters:
        - name: tipo_documento_uuid
          in: path
          required: true
          type: string
      tags:
        - TipoDocumentoService
    post:
      operationId: UpdateTipoDocumento
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiUpdateTipoDocumentoResponse"
      parameters:
        - name: tipo_documento_uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateTipoDocumentoRequest"
      tags:
        - TipoDocumentoService
  "/tipos-veiculo/{uuid}":
    delete:
      operationId: DeleteTipoVeiculo
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiDeleteTipoVeiculoResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - TipoVeiculoService
  "/tipos-volume/{uuid}":
    get:
      operationId: GetTipoVolume
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiTipoVolume"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - TipoVolumeService
    delete:
      operationId: DeleteTipoVolume
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiDeleteTipoVolumeResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - TipoVolumeService
    post:
      operationId: UpdateTipoVolume
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiTipoVolume"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiUpdateTipoVolumeRequest"
      tags:
        - TipoVolumeService
  "/v2/me/agendas":
    post:
      operationId: GetMinhasAgendasV2
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiGetMinhasAgendasV2Response"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiGetMinhasAgendasV2Request"
      tags:
        - AgendaService
  "/volumes-recebimento/{uuid}":
    delete:
      operationId: Delete
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiDeleteVolumeRecebimentoResponse"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
      tags:
        - VolumeRecebimentoService
    post:
      operationId: Update
      responses:
        '200':
          description: A successful response.
          schema:
            "$ref": "#/definitions/apiVolumeRecebimento"
      parameters:
        - name: uuid
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            "$ref": "#/definitions/apiVolumeRecebimento"
      tags:
        - VolumeRecebimentoService
definitions:
  AgendaConfirmacaoParcial:
    type: object
    properties:
      status:
        "$ref": "#/definitions/AgendaConfirmacaoParcialStatus"
      usuario:
        "$ref": "#/definitions/authUsuario"
        description: |-
          Em caso de status "CONFIRMADO" ou "RECUSADO", o campo "usuario" poderá
          estar vazio caso a ação tenha sido tomada de maneira automática pelo sistema.
      data:
        type: string
    description: ConfirmacaoParcial possui informações relacionadas a uma confirmação
      parcial executada pelo usuário.
  AgendaConfirmacaoParcialStatus:
    type: string
    enum:
      - Status_IGNORADO
      - Status_PENDENTE
      - Status_CONFIRMADO
      - Status_RECUSADO
    default: Status_IGNORADO
  AgendaDataPeriodo:
    type: object
    properties:
      data:
        type: string
      horaInicial:
        type: string
      horaFinal:
        type: string
  AgendaNotaStatusRecebimento:
    type: string
    enum:
      - PENDENTE
      - RECEBIDO
      - NAO_RECEBIDO
    default: PENDENTE
  AgendaStatusDescarga:
    type: string
    enum:
      - StatusDescarga_IGNORADO
      - StatusDescarga_AGUARDANDO
      - StatusDescarga_VEICULO_PRESENTE
      - StatusDescarga_EM_DESCARGA
      - StatusDescarga_CONCLUIDO
      - StatusDescarga_NAOREALIZADO
    default: StatusDescarga_IGNORADO
  AgendaSugestao:
    type: object
    properties:
      selecao_doca:
        "$ref": "#/definitions/SugestaoSelecaoDoca"
  AgendaTipoConfirmacaoParcial:
    type: string
    enum:
      - TipoConfirmacaoParcial_INDEFINIDO
      - RECEBIMENTO
      - FISCAL
    default: TipoConfirmacaoParcial_INDEFINIDO
  CobrancaFatura:
    type: object
    properties:
      numero:
        type: string
      valor_original:
        type: number
        format: double
      valor_desconto:
        type: number
        format: double
      valor_liquido:
        type: number
        format: double
  ConsumoVolumeRecebimentoResponseConsumoData:
    type: object
    properties:
      data:
        type: string
      volume_uuid:
        type: string
      disponivel:
        type: integer
        format: int32
      capacidade:
        type: integer
        format: int32
  ConvidarUsuarioFornecedorRequestConvite:
    type: object
    properties:
      email:
        type: string
      nome:
        type: string
      sobrenome:
        type: string
  DisponibilidadeCalendarioAgendaResponseDia:
    type: object
    properties:
      dia:
        type: string
      disponivel:
        type: boolean
        format: boolean
      restricao:
        type: string
  DocaEndereco:
    type: object
    properties:
      endereco_uuid:
        type: string
  EntidadeTipoPessoa:
    type: string
    enum:
      - TipoPessoa_FISICA
      - TipoPessoa_JURIDICA
    default: TipoPessoa_FISICA
  LocalModeloTempoDescarga:
    type: string
    enum:
      - ModeloTempoDescarga_MANUAL
      - ModeloTempoDescarga_AUTOMATICO
    default: ModeloTempoDescarga_MANUAL
  LocalNotaFiscalLimits:
    type: object
    properties:
      lead_time_dias:
        type: integer
        format: int32
      lead_time_adicional_dias:
        type: integer
        format: int32
      lead_time_mensagem:
        type: string
      antecipacao_emissao_horas:
        type: integer
        format: int32
  LocalRecebimentoMedias:
    type: object
    properties:
      atrasoChegada:
        type: integer
        format: int32
      inicioDescargaComprometido:
        type: integer
        format: int32
      inicioDescargaPresenca:
        type: integer
        format: int32
      tempoDescarga:
        type: integer
        format: int32
      tempoTotalComprometido:
        type: integer
        format: int32
      tempoTotalPresenca:
        type: integer
        format: int32
  LocalTipoAgendamento:
    type: string
    enum:
      - TipoAgendamento_INDEFINIDO
      - TipoAgendamento_LIVRE
      - TipoAgendamento_RESTRICAO_SOLICITADAS
      - TipoAgendamento_RESTRICAO_CONFIRMADAS
    default: TipoAgendamento_INDEFINIDO
  LocalTipoRestricaoAgenda:
    type: string
    enum:
      - TipoRestricaoAgenda_INDEFINIDO
      - TipoRestricaoAgenda_XML
      - TipoRestricaoAgenda_PEDIDO
      - TipoRestricaoAgenda_XML_PEDIDO
    default: TipoRestricaoAgenda_INDEFINIDO
  NotaFiscalCobrancaDuplicata:
    type: object
    properties:
      numero:
        type: string
      data_vencimento:
        type: string
      valor:
        type: number
        format: double
  NotaFiscalTransporteVolume:
    type: object
    properties:
      especie:
        type: string
      marca:
        type: string
      quantidade:
        type: string
        format: int64
      peso_liquido:
        type: number
        format: double
      peso_bruto:
        type: number
        format: double
  OrderColumn:
    type: object
    properties:
      name:
        type: string
      desc:
        type: boolean
        format: boolean
  PedidoICMSTotal:
    type: object
    properties:
      valor_bc:
        type: number
        format: double
        title: Base de Cálculo do ICMS
      valor_icms:
        type: number
        format: double
        title: Valor Total do ICMS
      valor_bcst:
        type: number
        format: double
        title: Base de Cálculo do ICMS ST
      valor_st:
        type: number
        format: double
        title: Valor Total do ICMS ST
      valor_produtos:
        type: number
        format: double
        title: Valor Total dos produtos e serviços
      valor_frete:
        type: number
        format: double
        title: Valor Total do Frete
      valor_desconto:
        type: number
        format: double
      valor_ii:
        type: number
        format: double
        title: Valor Total do II
      valor_ipi:
        type: number
        format: double
        title: Valor Total do IPI
      valor_pis:
        type: number
        format: double
        title: Valor do PIS
      valor_cofins:
        type: number
        format: double
        title: Valor do COFINS
      valor_outro:
        type: number
        format: double
        title: Outras Despesas acessórias
      valor_total:
        type: number
        format: double
        title: Valor Total da NF-e
    title: Grupo de Valores Totais referentes ao ICMS
  PedidoItemEntrega:
    type: object
    properties:
      uuid:
        type: string
      quantidade:
        type: number
        format: double
  PedidoItemImposto:
    type: object
    properties:
      cofins:
        "$ref": "#/definitions/PedidoItemImpostoCofins"
      icms:
        "$ref": "#/definitions/PedidoItemImpostoICMS"
      icmsst:
        "$ref": "#/definitions/PedidoItemImpostoICMSST"
      ipi:
        "$ref": "#/definitions/PedidoItemImpostoIPI"
      pis:
        "$ref": "#/definitions/PedidoItemImpostoPIS"
  PedidoItemImpostoCofins:
    type: object
    properties:
      aliq:
        type: number
        format: double
      valor:
        type: number
        format: double
  PedidoItemImpostoICMS:
    type: object
    properties:
      aliq:
        type: number
        format: double
      valor:
        type: number
        format: double
      cst:
        type: integer
        format: int32
      origem:
        type: integer
        format: int32
  PedidoItemImpostoICMSST:
    type: object
    properties:
      aliq:
        type: number
        format: double
      valor:
        type: number
        format: double
  PedidoItemImpostoIPI:
    type: object
    properties:
      aliq:
        type: number
        format: double
      valor:
        type: number
        format: double
      cst:
        type: integer
        format: int32
  PedidoItemImpostoPIS:
    type: object
    properties:
      aliq:
        type: number
        format: double
      valor:
        type: number
        format: double
      cst:
        type: integer
        format: int32
  PedidoItemUnidadeMedida:
    type: object
    properties:
      unidade:
        type: string
      unitario:
        type: number
        format: double
      total:
        type: number
        format: double
  PerfilTelefone:
    type: object
    properties:
      numero:
        type: string
  RelatorioDiarioResponseTotais:
    type: object
    properties:
      valorTotal:
        type: number
        format: double
      valorPago:
        type: number
        format: double
      valorPendente:
        type: number
        format: double
      valorEstornado:
        type: number
        format: double
  SearchAgendasEntidadeRequestFiltroStatus:
    type: object
    properties:
      todos:
        type: boolean
        format: boolean
      status:
        "$ref": "#/definitions/apiAgendaStatus"
  StatsRecebimentoNota:
    type: object
    properties:
      qtd_notas:
        type: integer
        format: int32
      recebidas:
        type: integer
        format: int32
      negadas:
        type: integer
        format: int32
      pendentes:
        type: integer
        format: int32
  StatusDiarioAgendasLocalResponseStatusFluxo:
    type: object
    properties:
      status:
        "$ref": "#/definitions/apiStatusRecebimentoStatus"
      quantidade:
        type: integer
        format: int32
  StatusRecebimentoCategoria:
    type: string
    enum:
      - UNKNOWN
      - PENDENTE
      - EM_PROGRESSO
      - FINALIZADO
      - CANCELADO
    default: UNKNOWN
  StatusRecebimentoConexao:
    type: object
    properties:
      to_status_uuid:
        type: string
      label:
        type: string
      start:
        type: boolean
        format: boolean
      all:
        type: boolean
        format: boolean
      from_status_uuid:
        type: string
  SugestaoSelecaoDoca:
    type: object
    properties:
      doca_uuid:
        type: string
      docas:
        type: array
        items:
          "$ref": "#/definitions/SugestaoSelecaoDocaDoca"
      sem_doca:
        "$ref": "#/definitions/SugestaoSelecaoDocaStats"
  SugestaoSelecaoDocaDoca:
    type: object
    properties:
      doca:
        "$ref": "#/definitions/recebimentoapiDoca"
      stats:
        "$ref": "#/definitions/SugestaoSelecaoDocaStats"
  SugestaoSelecaoDocaStats:
    type: object
    properties:
      produtos:
        type: array
        items:
          "$ref": "#/definitions/apiNotaFiscalProduto"
      quantidade:
        type: number
        format: double
      porcentagem:
        type: number
        format: double
  UpdateStatusRecebimentoNotaRequestAgendaAnotacaoTipoAnotacao:
    type: object
    properties:
      uuid:
        type: string
  UserAuthenticationMethod:
    type: string
    enum:
      - AuthenticationMethod_NONE
      - AuthenticationMethod_USERNAME
      - AuthenticationMethod_EMAIL
    default: AuthenticationMethod_NONE
  UsuarioAuthMethod:
    type: string
    enum:
      - AuthMethod_NONE
      - AuthMethod_USERNAME
      - AuthMethod_EMAIL
    default: AuthMethod_NONE
  VolumeRecebimentoDiaCapacidade:
    type: object
    properties:
      dia:
        type: string
      capacidade:
        type: integer
        format: int32
      dia_fim:
        type: string
  WebhookEvent:
    type: string
    enum:
      - AGENDA_SOLICITADA
      - AGENDA_CONFIRMADA
      - AGENDA_CONFIRMADA_PARCIAL_RECEBIMENTO
      - AGENDA_CONFIRMADA_PARCIAL_FISCAL
      - AGENDA_CANCELADA
    default: AGENDA_SOLICITADA
  accountUser:
    type: object
    properties:
      uuid:
        type: string
      username:
        type: string
      email:
        type: string
      createdAt:
        type: string
        format: int64
      type:
        "$ref": "#/definitions/accountUserType"
      authenticationMethod:
        "$ref": "#/definitions/UserAuthenticationMethod"
  accountUserProfile:
    type: object
    properties:
      user:
        "$ref": "#/definitions/accountUser"
      profile:
        "$ref": "#/definitions/profileProfile"
  accountUserType:
    type: string
    enum:
      - Type_API
      - Type_USER
    default: Type_API
  agendarentidadeapiEntidade:
    type: object
    properties:
      uuid:
        type: string
      tipo:
        "$ref": "#/definitions/apiEntidadeTipo"
      identidadeRaiz:
        type: string
        title: Em caso de Pessoa Física, CPF completo, caso contrário, somente 8 digitos
          referente à parte matriz do CNPJ
      nome:
        type: string
      nomeFantasia:
        type: string
      dataCadastro:
        type: string
      logoPersonalizada:
        type: boolean
        format: boolean
      identidade:
        type: string
        description: |-
          Retorno da identidade "completa".
          Diferente do campo "identidadeRaiz", o campo "identidade" em caso de ser um CNPJ,
          sempre retornará o CNPJ 1 da raiz.
  agendarentregapedidoPedido:
    type: object
    properties:
      uuid:
        type: string
      codigo:
        type: string
        title: Código de pedido interno da empresa que gerou o pedido (emitente)
      comprador:
        "$ref": "#/definitions/accountUserProfile"
      fornecedor:
        "$ref": "#/definitions/entidadeapiFilial"
      emitente:
        "$ref": "#/definitions/entidadeapiFilial"
      destinatario:
        "$ref": "#/definitions/entidadeapiFilial"
      dataCadastro:
        type: string
      dataEmissao:
        type: string
      observacoes:
        type: string
      entrega:
        "$ref": "#/definitions/pedidoPedidoEntrega"
        title: Previsão da data de entrega
      status:
        "$ref": "#/definitions/pedidoStatusPedido"
      itens:
        type: array
        items:
          "$ref": "#/definitions/agendarentregapedidoPedidoItem"
      saldo:
        "$ref": "#/definitions/pedidoResumoSaldo"
      duplicatas:
        type: array
        items:
          "$ref": "#/definitions/pedidoPedidoDuplicata"
      icms_total:
        "$ref": "#/definitions/PedidoICMSTotal"
  agendarentregapedidoPedidoItem:
    type: object
    properties:
      uuid:
        type: string
        title: Código interno do item do pedido, esse campo é ignorando em operações
          de importação
      produto:
        "$ref": "#/definitions/agendarentregapedidoProduto"
        title: Produto
      sequencia:
        type: integer
        format: int32
        title: Sequencial do item no pedido
      quantidade:
        type: number
        format: float
        title: Quantidade de itens do produto
      preco_unitario:
        type: number
        format: float
        title: Preço unitário
      preco_total:
        type: number
        format: float
        title: Preço total
      volume_recebimento:
        type: number
        format: float
        title: Volume de Recebimento total do produto no pedido
      volume_recebimento_unitario:
        type: number
        format: float
        title: Volume de Recebimento unitário do item
      saldo:
        "$ref": "#/definitions/pedidoResumoSaldo"
        title: Resumo de saldos do pedido, essa informação é cálculada pelo portal
      ncm:
        type: string
        title: Código NCM
      cfop:
        type: integer
        format: int32
        title: Tipo de CFOP do produto, utilizado para comparação com NFE
      imposto:
        "$ref": "#/definitions/PedidoItemImposto"
        title: Informações de imposto
      valor_desconto:
        type: number
        format: double
      valor_frete:
        type: number
        format: double
      valor_outro:
        type: number
        format: double
      medidas:
        type: array
        items:
          "$ref": "#/definitions/PedidoItemUnidadeMedida"
  agendarentregapedidoProduto:
    type: object
    properties:
      ean:
        type: string
        title: Código EAN do Produto
      descricao:
        type: string
        title: Descrição
      cor:
        type: string
        title: Cor
      especificacao:
        type: string
        title: Especificação
      unidade_medida_unitario:
        type: string
        title: Unidade medida unitário
      embalagem:
        type: string
        title: Embalagem
      codigo_fornecedor:
        type: string
        title: Código do produto do fornecedor
      codigo_destinatario:
        type: string
        title: Código do produto do destinatário
      unidade_medida_produto:
        type: string
        title: Unidade de medida do produto
      quantidade_itens_unitario:
        type: number
        format: float
        title: Quantidade itens unitário
  agendarrecebimentoapiEntidade:
    type: object
    properties:
      numero_inscricao:
        type: string
        description: Número de inscrição. Para empresas é retornado o CNPJ, e em caso
          de pessoa física, é retornado o CPF.
      razao_social:
        type: string
        description: Razão Social da Empresa, caso seja pessoa física, será retornado
          o nome completo.
      nome_fantasia:
        type: string
        description: Nome Fantasia da Empresa, caso seja pessoa física, será retornado
          o nome completo.
    title: Recurso que representa uma Empresa ou Pessoa Física
  apiAdicionarNotasAgendaRequest:
    type: object
    properties:
      agenda_uuid:
        type: string
      chaves:
        type: array
        items:
          type: string
      validate:
        type: boolean
        format: boolean
  apiAdicionarNotasAgendaResponse:
    type: object
  apiAgendaCarga:
    type: object
    properties:
      tipo:
        "$ref": "#/definitions/apiTipoCarga"
      qtdVolumes:
        type: number
        format: double
      paletizada:
        type: boolean
        format: boolean
      volume:
        "$ref": "#/definitions/apiTipoVolume"
      quantidade:
        type: number
        format: double
  apiAgendaCobranca:
    type: object
    properties:
      hasCobranca:
        type: boolean
        format: boolean
      hasPendencia:
        type: boolean
        format: boolean
  apiAgendaCobrancaStatus:
    type: string
    enum:
      - Status_EM_ABERTO
      - Status_BAIXADO
      - Status_ESTORNADO
    default: Status_EM_ABERTO
  apiAgendaCriadoPor:
    type: string
    enum:
      - CriadoPor_USUARIO
      - CriadoPor_SISTEMA
    default: CriadoPor_USUARIO
  apiAgendaDestinatario:
    type: object
    properties:
      local:
        "$ref": "#/definitions/apiLocal"
  apiAgendaDevolucao:
    type: object
    properties:
      possui:
        type: boolean
        format: boolean
      observacao:
        type: string
  apiAgendaDocumento:
    type: object
    properties:
      uuid:
        type: string
      nome:
        type: string
      tamanho:
        type: integer
        format: int32
      chave_nfe:
        type: string
      tipo:
        "$ref": "#/definitions/apiTipoDocumento"
  apiAgendaEvento:
    type: object
    properties:
      agenda_uuid:
        type: string
      evento:
        "$ref": "#/definitions/apiAgendaEventoEvento"
      evento_fluxo:
        "$ref": "#/definitions/apiStatusRecebimentoStatus"
      observacao:
        type: string
      data_evento:
        type: string
      origem:
        "$ref": "#/definitions/apiAgendaEventoOrigem"
      usuario:
        "$ref": "#/definitions/authUsuario"
  apiAgendaEventoEvento:
    type: string
    enum:
      - EVENTO_SOLICITACAO
      - EVENTO_CONFIRMACAO
      - EVENTO_CANCELAMENTO
      - EVENTO_SOLICITACAO_JANELA
      - EVENTO_CONFIRMACAO_JANELA
      - EVENTO_REAGENDAMENTO
      - EVENTO_CONFIRMACAO_PARCIAL_RECEBIMENTO
      - EVENTO_CONFIRMACAO_PARCIAL_FISCAL
      - EVENTO_DESCARGA_VEICULO_PRESENTE
      - EVENTO_DESCARGA_EM_DESCARGA
      - EVENTO_DESCARGA_CONCLUIDO
      - EVENTO_DESCARGA_NAO_REALIZADO
    default: EVENTO_SOLICITACAO
  apiAgendaEventoOrigem:
    type: string
    enum:
      - USUARIO
      - SISTEMA
    default: USUARIO
  apiAgendaPedidoStatusRecebimento:
    type: string
    enum:
      - PENDENTE
      - RECEBIDO
      - NAO_RECEBIDO
    default: PENDENTE
  apiAgendaPeriodo:
    type: object
    properties:
      data:
        type: string
      hora_inicio:
        type: string
      duracao:
        type: integer
        format: int32
  apiAgendaRemetente:
    type: object
    properties:
      transportadora:
        type: boolean
        format: boolean
      entidade:
        "$ref": "#/definitions/entidadeentidadeEntidade"
  apiAgendaStats:
    type: object
    properties:
      volumeNotas:
        type: number
        format: double
      volumePedidos:
        type: number
        format: double
      saldo_pedidos:
        "$ref": "#/definitions/apiResumoSaldoPedido"
      skuNotas:
        type: integer
        format: int32
      recebimento_notas:
        "$ref": "#/definitions/StatsRecebimentoNota"
  apiAgendaStatus:
    type: string
    enum:
      - Status_SOLICITADA
      - Status_SOLICITADA_JANELA
      - Status_CONFIRMADA
      - Status_CANCELADA
      - Status_FINALIZADA
    default: Status_SOLICITADA
  apiAgendaStatusRecebimento:
    type: object
    properties:
      status:
        "$ref": "#/definitions/apiStatusRecebimentoStatus"
  apiAgendaVeiculo:
    type: object
    properties:
      placa:
        type: string
      motorista:
        type: string
      tipo:
        "$ref": "#/definitions/apiTipoVeiculo"
  apiAtualizarQuantidadeEntregaItensPedidoRequest:
    type: object
    properties:
      agenda_uuid:
        type: string
      pedido_uuid:
        type: string
      itens:
        type: object
        additionalProperties:
          type: number
          format: double
  apiAtualizarQuantidadeEntregaItensPedidoResponse:
    type: object
  apiAtualizarUsuarioFornecedorResponse:
    type: object
  apiBaixarAgendaCobrancaRequest:
    type: object
    properties:
      uuid:
        type: string
      preview:
        type: boolean
        format: boolean
      valorPago:
        type: number
        format: double
        description: Valor efetivamente pago.
      valorTroco:
        type: number
        format: double
        description: Valor de troco.
  apiBaixarAgendaCobrancaResponse:
    type: object
  apiBatchGetAgendasResponse:
    type: object
    properties:
      agendas:
        type: object
        additionalProperties:
          "$ref": "#/definitions/recebimentoapiAgenda"
  apiBatchGetPedidosAgendasResponse:
    type: object
    properties:
      agendas:
        type: object
        additionalProperties:
          "$ref": "#/definitions/apiGetPedidosAgendaResponse"
  apiBatchReportSaldoAgendadoPedidoResponse:
    type: object
    properties:
      pedidos:
        type: object
        additionalProperties:
          "$ref": "#/definitions/apiReportSaldoAgendadoPedidoResponse"
  apiCadastrarAgendaRequest:
    type: object
    properties:
      usuario_solicitante:
        type: string
      solicitacao:
        "$ref": "#/definitions/apiSolicitarAgendaRequest"
  apiCadastrarDataRequest:
    type: object
    properties:
      entidade_uuid:
        type: string
      calendario:
        "$ref": "#/definitions/apiCalendario"
  apiCadastrarDataResponse:
    type: object
  apiCadastroAnotacaoAgendaRequest:
    type: object
    properties:
      agenda_uuid:
        type: string
      agenda_anotacao:
        "$ref": "#/definitions/recebimentoapiAgendaAnotacao"
  apiCalcularCobrancaDescargaRequest:
    type: object
    properties:
      uuid:
        type: string
      remetente_entidade_uuid:
        type: string
      quantidade:
        type: number
        format: double
      tipo_volume_uuid:
        type: string
  apiCalcularCobrancaDescargaResponse:
    type: object
    properties:
      isento:
        type: boolean
        format: boolean
      valor:
        type: number
        format: double
      valor_unitario:
        type: number
        format: double
  apiCalcularTempoEntregaRequest:
    type: object
    properties:
      local_uuid:
        type: string
      quantidade_volume:
        type: integer
        format: int32
      tipo_volume:
        type: string
  apiCalcularTempoEntregaResponse:
    type: object
    properties:
      pode_alterar:
        type: boolean
        format: boolean
      tempo_descarga:
        type: integer
        format: int32
  apiCalendario:
    type: object
    properties:
      uuid:
        type: string
      entidade_uuid:
        type: string
      descricao:
        type: string
      comunicado:
        type: string
      dia_inicio:
        type: string
      dia_fim:
        type: string
      hora_inicio:
        type: string
      hora_fim:
        type: string
      locais:
        type: array
        items:
          "$ref": "#/definitions/apiLocal"
      data_cadastro:
        type: string
      usuario_uuid:
        type: string
      notificar_fornecedores:
        type: boolean
        format: boolean
      notificar_colaboradores:
        type: boolean
        format: boolean
  apiCancelarAgendaRequest:
    type: object
    properties:
      uuid:
        type: string
      observacoes:
        type: string
  apiCheckPedidosNotasRequestNota:
    type: object
    properties:
      chave:
        type: string
  apiCheckPedidosNotasRequestPedido:
    type: object
    properties:
      codigo:
        type: string
  apiCheckPedidosNotasResponse:
    type: object
  apiCheckValidacoesRequest:
    type: object
    properties:
      chave:
        type: string
      pedidos:
        type: array
        items:
          type: string
      validacao_externa:
        type: boolean
        format: boolean
  apiCheckValidacoesResponse:
    type: object
    properties:
      pode_agendar:
        type: boolean
        format: boolean
        description: |-
          Informa se a NFE pode ou não ser agendada.
          Esse campo estará falso quando existir pelo menos 1 item de validação que não possa ser agendado.
      divergencias:
        type: array
        items:
          "$ref": "#/definitions/apiCheckValidacoesResponseValidacao"
  apiCheckValidacoesResponseValidacao:
    type: object
    properties:
      tipo:
        type: string
      subtipo:
        type: string
      item_id:
        type: integer
        format: int32
      valor_nota:
        type: string
      valor_pedido:
        type: string
      adicional:
        type: string
      descricao:
        type: string
        title: Contém a "descrição" sobre este tipo apresentável ao usuário
      formatacao:
        type: string
        title: define os tipos de formatação do campo (moeda, texto, porcentagem,
          etc)
      pode_agendar:
        type: boolean
        format: boolean
        description: Informa se este erro de validação pode ou não ser agendado.
  apiCobrancaDescarga:
    type: object
    properties:
      ativo:
        type: boolean
        format: boolean
      cobrar_todos:
        type: boolean
        format: boolean
      preco_volumes:
        type: object
        additionalProperties:
          type: number
          format: double
  apiConfigFornecedor:
    type: object
    properties:
      local:
        "$ref": "#/definitions/apiLocal"
      entidadeRemetente:
        "$ref": "#/definitions/agendarentidadeapiEntidade"
      confirmaJanela:
        type: boolean
        format: boolean
      agendamentoSemJanela:
        type: boolean
        format: boolean
      agendamentoSemDanfe:
        type: boolean
        format: boolean
      horasNotificacaoJanela:
        type: integer
        format: int32
      horasCancelamentoJanela:
        type: integer
        format: int32
      emailsConfirmacao:
        type: array
        items:
          type: string
      cobrarDescarga:
        type: boolean
        format: boolean
      diasSemana:
        type: array
        items:
          type: integer
          format: int32
      nfe_lead_time:
        type: string
        format: int64
  apiConfirmarAgendaJanelaRequest:
    type: object
    properties:
      agendaUUID:
        type: string
      carga:
        "$ref": "#/definitions/apiConfirmarAgendaJanelaRequestCarga"
      veiculo:
        "$ref": "#/definitions/apiConfirmarAgendaJanelaRequestVeiculo"
      notas:
        type: array
        items:
          "$ref": "#/definitions/apiConfirmarAgendaJanelaRequestNotaFiscal"
      observacoes:
        type: string
      remetente:
        "$ref": "#/definitions/apiConfirmarAgendaJanelaRequestRemetente"
      pedidos:
        type: array
        items:
          "$ref": "#/definitions/apiSolicitarAgendaRequestPedido"
  apiConfirmarAgendaJanelaRequestCarga:
    type: object
    properties:
      tipoVolumeUUID:
        type: string
      quantidade:
        type: number
        format: double
  apiConfirmarAgendaJanelaRequestNotaFiscal:
    type: object
    properties:
      chave:
        type: string
  apiConfirmarAgendaJanelaRequestRemetente:
    type: object
    properties:
      transportadora:
        type: boolean
        format: boolean
  apiConfirmarAgendaJanelaRequestVeiculo:
    type: object
    properties:
      placa:
        type: string
      motorista:
        type: string
      tipoVeiculoUUID:
        type: string
  apiConfirmarAgendaRequest:
    type: object
    properties:
      uuid:
        type: string
      periodo:
        "$ref": "#/definitions/apiAgendaPeriodo"
      docas:
        type: array
        items:
          type: string
      observacoes:
        type: string
      devolucao:
        "$ref": "#/definitions/apiAgendaDevolucao"
      tipo_confirmacao:
        "$ref": "#/definitions/AgendaTipoConfirmacaoParcial"
  apiConfirmarRecebimentoAgendaRequest:
    type: object
    properties:
      agenda_uuid:
        type: string
      status_uuid:
        type: string
      notas:
        type: array
        items:
          "$ref": "#/definitions/apiConfirmarRecebimentoAgendaRequestNota"
      pedidos:
        type: array
        items:
          "$ref": "#/definitions/apiConfirmarRecebimentoAgendaRequestPedido"
  apiConfirmarRecebimentoAgendaRequestNota:
    type: object
    properties:
      chave:
        type: string
      recebido:
        type: boolean
        format: boolean
  apiConfirmarRecebimentoAgendaRequestPedido:
    type: object
    properties:
      pedido_uuid:
        type: string
      recebido:
        type: boolean
        format: boolean
  apiConfirmarRecebimentoAgendaResponse:
    type: object
  apiConsultarPedidoDestinatarioResponse:
    type: object
    properties:
      pedidos:
        type: array
        items:
          "$ref": "#/definitions/recebimentoapiPedido"
        title: Retorna uma lista de pedidos, pelo fato de um mesmo local de entrega
          possuir vários CNPJs
  apiConsumoVolumeRecebimentoRequest:
    type: object
    properties:
      local_uuid:
        type: string
      data_inicio:
        type: string
      data_fim:
        type: string
  apiConsumoVolumeRecebimentoResponse:
    type: object
    properties:
      consumo:
        type: array
        items:
          "$ref": "#/definitions/ConsumoVolumeRecebimentoResponseConsumoData"
  apiCreateBloqueioFornecedorResponse:
    type: object
  apiCreateDocumentoAceiteRequest:
    type: object
    properties:
      documento_aceite:
        "$ref": "#/definitions/apiDocumentoAceite"
      entidade_uuid:
        type: string
  apiCreateDocumentoAceiteResponse:
    type: object
  apiCreateDownloadLinkDocumentoResponse:
    type: object
    properties:
      download_link:
        type: string
  apiCreateStatusRecebimentoRequest:
    type: object
    properties:
      entidade_uuid:
        type: string
      status:
        "$ref": "#/definitions/recebimentoapiStatusRecebimento"
  apiCreateStatusRecebimentoResponse:
    type: object
  apiCreateTipoAnotacaoRequest:
    type: object
    properties:
      tipo_anotacao:
        "$ref": "#/definitions/recebimentoapiTipoAnotacao"
      entidade_uuid:
        type: string
  apiCreateTipoAnotacaoResponse:
    type: object
  apiCreateTipoDocumentoRequest:
    type: object
    properties:
      tipo_documento:
        "$ref": "#/definitions/apiTipoDocumento"
      entidade_uuid:
        type: string
  apiCreateTipoDocumentoResponse:
    type: object
  apiCreateTipoVolumeRequest:
    type: object
    properties:
      entidade_uuid:
        type: string
      tipo:
        "$ref": "#/definitions/apiTipoVolume"
  apiDeleteBloqueioFornecedorResponse:
    type: object
  apiDeleteDocaResponse:
    type: object
  apiDeleteDocumentoAceiteResponse:
    type: object
  apiDeleteTipoAnotacaoResponse:
    type: object
  apiDeleteTipoDocumentoResponse:
    type: object
  apiDeleteTipoVeiculoResponse:
    type: object
  apiDeleteTipoVolumeResponse:
    type: object
  apiDeleteVolumeRecebimentoResponse:
    type: object
  apiDiaSemanaHorario:
    type: object
    properties:
      inicio:
        type: string
      fim:
        type: string
  apiDisponibilidadeAgendaRequest:
    type: object
    properties:
      local_uuid:
        type: string
      tipo_carga_uuid:
        type: string
      data:
        type: string
      tempo_descarga:
        type: integer
        format: int32
      qtd_volumes:
        type: number
        format: double
      notas:
        type: array
        items:
[...]
